<footer class="main-footer">
    <div class="footer-copy">
        &copy; @DateTime.Now.Year - Tons Neutros
    </div>
    <div class="footer-menu">
        <ul class="footer-menu-list">
            <li class="footer-menu-item"><a class="footer-link" asp-area="" asp-controller="Home" asp-action="Privacy">Termos e privacidade</a></li>
            <li class="footer-menu-item"><a class="footer-link" asp-area="" asp-controller="Home" asp-action="Contact">Contactos</a></li>
        </ul>
    </div>
</footer>