<header>
    <nav>
        <span class="logo">
            <a class="logo-link" asp-area="" asp-controller="Home" asp-action="Index">Tons Neutros</a>
        </span>
        @await Component.InvokeAsync("ShoppingCartSummary")
    </nav>
</header>