<button class="button-show-menu button-show-menu-visible">
    ☰
    <span class="hidden-text">Show menu</span>
</button>

<div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
        &#10005;
        <span class="hidden-text">Close menu</span>
    </button>

    <div class="menu-content">
        <aside class="menu-aside">
            @await Component.InvokeAsync("CategoryMenu")
            <a class="logo-link" asp-area="" asp-controller="Product" asp-action="List">Produtos</a>
            <a class="logo-link" href="https://tonsneutros.blogspot.com" target="_blank">Blog</a>
            @await Html.PartialAsync("_LoginPartial")
        </aside>
    </div>
</div>