@model TonsNeutros.Store.ViewModels.BuyerFormViewModel

<main class="main-content-container">
    <div class="main-content main-content-list container">
        <div class="aform-wrapper">
            <h2 class="center">Editar morada</h2>
            <form class="main-form" asp-action="Edit" method="post">
                <div class="aform-content">
                    <div class="aform-group">
                        <label asp-for="Buyer.Name" class="control-label"></label>
                        <input asp-for="Buyer.Name" class="form-control" />
                        <span asp-validation-for="Buyer.Name" class="text-danger"></span>
                    </div>
                    <div class="aform-group">
                        <label asp-for="Buyer.Nif" class="control-label"></label>
                        <input asp-for="Buyer.Nif" class="form-control" />
                        <span asp-validation-for="Buyer.Nif" class="text-danger"></span>
                    </div>
                    <div class="aform-group">
                        <label asp-for="Buyer.PhoneNumber" class="control-label"></label>
                        <input asp-for="Buyer.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Buyer.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="aform-group">
                        <label asp-for="Address.Street" class="control-label"></label>
                        <input asp-for="Address.Street" class="form-control" />
                        <span asp-validation-for="Address.Street" class="text-danger"></span>
                    </div>
                    <div class="aform-group">
                        <label asp-for="Address.Place" class="control-label"></label>
                        <input asp-for="Address.Place" class="form-control" />
                        <span asp-validation-for="Address.Place" class="text-danger"></span>
                    </div>
                    <div class="aform-group">
                        <label asp-for="Address.ZipCode" class="control-label"></label>
                        <input asp-for="Address.ZipCode" class="form-control" />
                        <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                    </div>
                    <div class="aform-group">
                        <label asp-for="Address.City" class="control-label"></label>
                        <input asp-for="Address.City" class="form-control" />
                        <span asp-validation-for="Address.City" class="text-danger"></span>
                    </div>
                    <div class="aform-group">
                        <label asp-for="Address.Country" class="control-label"></label>
                        <input asp-for="Address.Country" class="form-control" />
                        <span asp-validation-for="Address.Country" class="text-danger"></span>
                    </div>
                </div>
                <div class="aform-content">
                    <div class="aform-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
