@model TonsNeutros.Admin.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}

<h2 class="mt-4">Editar @Model.SupplierName</h2>

<div class="row">
    <div class="col-md-4 offset-4 mt-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierId" />
            <div class="form-group">
                <label asp-for="SupplierName" class="control-label mt-2"></label>
                <input asp-for="SupplierName" class="form-control" />
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label mt-2"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplerProducts" class="control-label mt-2"></label>
                <input asp-for="SupplerProducts" class="form-control" />
                <span asp-validation-for="SupplerProducts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nipc" class="control-label mt-2"></label>
                <input asp-for="Nipc" class="form-control" />
                <span asp-validation-for="Nipc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComercialName" class="control-label mt-2"></label>
                <input asp-for="ComercialName" class="form-control" />
                <span asp-validation-for="ComercialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label mt-2"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label mt-2"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
</div>

