<main class="main-content-container">
    <div class="main-content main-content-list container">
        <h2 class="text-center"> Contactos</h2>
    </div>
    <div>
        <h5><email address="tonsneutros@gmail.com" subject="Enviar um e-mail"></email></h5>
        <h5>Mobile: (+351) 912345678</h5>
        <h5>Lisbon, Portugal</h5>
    </div>
</main>
