@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<main class="hero-content">
    <img class="full-width-image" src="~/images/decor-home.jpg" />
</main>

<main class="main-content-container">
    <div class="main-content main-content-list container">
        @if (Model == null || Model.FeaturedProducts == null || !Model.FeaturedProducts.Any())
        {
            <h2 class="text-center"> There are no products.</h2>
        }
        else
        {
            @foreach (var product in Model.FeaturedProducts)
            {
                <partial name="_ProductsDetail" for="@product" />
            }
        }
    </div>
</main>
