@model RegisterViewModel

<main class="main-content-container">
    <div class="main-content main-content-list container">
        <div class="form-wrapper">
        <h2 class="text-center">Novo Registo</h2>
        <form asp-controller="Account" asp-action="Register" method="post" role="form" class="main-form">
            <div class="form-content">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="help-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" class=" help-text"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class=" help-text"></span>
                </div>
            </div>
            <div class="form-content">
                <div class="form-group">
                    <button class="btn" type="submit">Registo</button>
                 </div>
            </div>
        </form>
     </div>
</main>